---
import '@fontsource/quattrocento-sans'
import Banner from '../components/Banner/Banner.astro'
import Navbar from '../components/Navbar/Navbar.astro'
import Taskbar from '../components/Taskbar/Taskbar'
import '../styles/tailwind.css'
import Modal from '../components/Modal/Modal'
import AthletesModal from '../components/Modal/AthletesModal'
import StravaMileageDashboard from '../components/Strava/StravaMileageDashboard'
import Icon from '../components/Icons/icon.astro'
---

<html lang="en" class="flex">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Mounds View High School's Boys Cross Country and Track & Field Website"
        />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
        <link rel="apple-touch-icon" href="/favicon.svg" />
        <link rel="stylesheet" href="../fonts.css" />
        <style>
            html {
                font-family: Montserrat;
                margin: 0;
            }
            body {
                margin: 0;
                min-height: 100vh;
            }

            a {
                color: rgb(34 197 94);
            }
        </style>
        <title>Mounds View XC</title>
    </head>
    <body class="flex justify-center w-screen bg-neutral-700">
        <main class="flex flex-col grow-1">
            <Navbar />
            <Banner />
            <AthletesModal client:load />

            <div
                id="background"
                class="flex-col text-slate-50 pb-8 items-center w-screen"
            >
                <div
                    class="flex flex-col items-center md:flex-row md:justify-center my-8"
                >
                    <div class="flex flex-col w-11/12 md:w-4/12">
                        <h3 class="text-xl font-semibold pb-2">
                            <div
                                class="flex flex-row items-baseline"
                                title="Based on miles run and 1/3 of all miles biked"
                            >
                                Summer Miles
                                <Icon
                                    icon="info"
                                    height="17"
                                    width="17"
                                    fill="#22c55e"
                                    title="Based on miles run and 1/3 of all miles biked"
                                    style="display: flex; padding-left: 4px;"
                                />
                            </div>
                        </h3>
                        <StravaMileageDashboard client:idle />
                    </div>
                    <div
                        class="flex flex-row justify-center w-11/12 md:w-4/12 py-4 md:py-0 md:self-start"
                    >
                        <a
                            href="https://drive.google.com/drive/folders/1Lqt_gB01CgFz0gVaOpNcn7co0Jx5ESDS?usp=drive_link"
                            target="_blank">Google Drive Resources</a
                        >
                    </div>
                </div>
            </div>
        </main>
        <Taskbar client:load />
    </body>
</html>
