---
import '@fontsource/quattrocento-sans'
import Banner from '../components/Banner/Banner.astro'
import Navbar from '../components/Navbar/Navbar.astro'
import Taskbar from '../components/Taskbar/Taskbar'
import '../styles/tailwind.css'
// import Modal from '../components/Modal/Modal'
import AthletesModal from '../components/Modal/AthletesModal'
import StravaMileageDashboard from '../components/Strava/StravaMileageDashboard'
// import Icon from '../components/Icons/icon.astro'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Mounds View High School's Boys Cross Country and Track & Field Website"
        />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
        <link rel="apple-touch-icon" href="/favicon.svg" />
        <link rel="stylesheet" href="../fonts.css" />
        <style>
            html {
                font-family: Montserrat;
                margin: 0;
            }
            body {
                margin: 0;
                min-height: 100vh;
            }

            a {
                color: rgb(34 197 94);
            }
        </style>
        <title>Athletes</title>
    </head>
    <body
        class="flex flex-col items-center justify-items-start w-screen bg-neutral-700"
    >
        <header class="flex flex-col grow-1 w-full">
            <Navbar />
            <Banner />
        </header>
        <main class="flex flex-col grow-1">
            <!-- <AthletesModal client:load /> -->

            <div
                id="background"
                class="flex-col text-slate-50 md:pb-8 items-center w-screen"
            >
                <div
                    class="flex flex-col items-center md:flex-row md:justify-center mt-2 md:mt-4"
                >
                    <div class="md:self-start md:pt-4 py-2">
                        <a
                            href="https://docs.google.com/document/d/1htXTK8n_BStYHBECozeTjGZGz8XdgrY4eeIjoeISwAc/edit?usp=sharing"
                            target="_blank"
                        >
                            Weekly training handout
                        </a>
                    </div>

                    <div class="mx-auto text-center">
                        The Strava mileage calculator was built and paid for by
                        Coach Thompson. If you found it valuable, please relay
                        that to Coach Fleming and/or Coach Wentworth.
                    </div>

                    <!-- <StravaMileageDashboard client:idle /> -->
                </div>
            </div>
        </main>
    </body>
    <Taskbar client:load />
</html>
