---
import Logo from '../assets/favicon.svg'
import Banner from '../components/Banner/Banner.astro'
import Carousel from '../components/Carousel/Carousel'
import Navbar from '../components/Navbar/Navbar.astro'
import Taskbar from '../components/Taskbar/Taskbar'
import Updates from '../components/Updates/updates'
import '../styles/tailwind.css'
import '@fontsource/quattrocento-sans'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Mounds View High School's Boys Cross Country and Track & Field Website"
        />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
        <link rel="apple-touch-icon" href="/favicon.svg" />
        <style>
            html {
                font-family: Montserrat;
                margin: 0;
            }
            body {
                margin: 0;
                min-height: 100vh;
            }

            a {
                color: rgb(34 197 94);
            }
        </style>
        <title>Mounds View XC</title>
    </head>
    <body
        class="flex flex-col items-center justify-items-start w-screen bg-neutral-700"
    >
        <header class="flex flex-col grow-1 w-full">
            <Navbar />
            <Banner />
        </header>
        <main class="flex flex-col grow-1 w-full">
            <div id="background" class="flex-col text-slate-50">
                <Updates numUpdates={2} urlPath="/" client:load />
                <div class="flex justify-center my-8">
                    <div
                        class="flex flex-col md:w-10/12 lg:w-8/12 xl:w-6/12 text-center text-lg md:text-xl items-center"
                        style={{ fontFamily: 'Quattrocento Sans' }}
                    >
                        <!-- Summer captains practices -->
                        <!-- <p>
                            <h1 class="text-2xl">
                                <u>2023 Summer Captains Practices:</u>
                            </h1>
                            Monday: 9am at North Oaks West Rec <br />
                            Tuesday: 9am at Lake Johanna Beach; weights at 1:30 pm
                            at MV <br />
                            Wednesday: 9am at Snail Lake Beach <br />
                            Thursday: 9am at Sucker Lake <br />
                            Friday: 9am at Mounds View<br />
                            Saturday: 9am at Bobolink Park in North Oaks (unless
                            told otherwise)
                        </p> 
                        <br />
                        <br />-->

                        <!-- <div
                            class="border-2 border-white rounded px-4 py-2 mx-1 text-left"
                        >
                            <p>
                                <h1 class="text-2xl text-center">
                                    <span class="underline"
                                        >Parent Information Meeting</span
                                    >
                                </h1>
                                <div class="flex gap-x-2 items-baseline">
                                    Review the <a
                                        href="https://docs.google.com/presentation/d/16qY4IXWU3I3FkiDKWgb11PI-771mox4iQhxfmhHL2A4/edit?usp=sharing"
                                        target="_blank">parent meeting slides</a
                                    >
                                </div>
                                <div class="flex gap-x-2 items-baseline">
                                    <input type="checkbox" />
                                    <label
                                        >Athlete/Parent <a
                                            href="https://forms.gle/XoqfZGBL1kaUEVRe8"
                                            target="_blank"
                                            >contact information form</a
                                        ></label
                                    >
                                </div>
                                <div class="flex gap-x-2 items-baseline">
                                    <input type="checkbox" />
                                    <label
                                        ><a
                                            href="https://www.signupgenius.com/go/20F0C48A4A823A3F85-mvboys#/"
                                            target="_blank">Volunteer</a
                                        > to bring food to a carboload or work at
                                        the Mustang Invite
                                    </label>
                                </div>

                                <div class="flex gap-x-2 items-baseline">
                                    <input type="checkbox" />
                                    <label
                                        >Review <a
                                            href="https://docs.google.com/document/d/1NtQvPI5m87oCuA7vL2XjsIz3-IlHS0sM/edit?usp=sharing&ouid=100419720720181189045&rtpof=true&sd=true"
                                            target="_blank"
                                            >Understanding Mounds View Cross
                                            Country</a
                                        ></label
                                    >
                                </div>
                                <div class="flex gap-x-2 items-baseline">
                                    <input type="checkbox" />
                                    <label
                                        >Consider purchasing <a
                                            href="https://mandrillapp.com/track/click/30837889/bsnteamsports.com?p=eyJzIjoicS0xM0VIaUJKckhEMTZ4QXhxNjNRYWlSNWpjIiwidiI6MSwicCI6IntcInVcIjozMDgzNzg4OSxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL2JzbnRlYW1zcG9ydHMuY29tXFxcL3Nob3BcXFwvTVZYQzIzXCIsXCJpZFwiOlwiYTVjMzRlMWIzOWNiNGQ0NWI4ZjkyMmFmNzgxZDVhNGNcIixcInVybF9pZHNcIjpbXCIzNmVjNTI0YWM0NjAyMGVlNzQxZWMxNzE0Nzg4ZjcyNDcwNmUwZTAyXCJdfSJ9"
                                            target="_blank">MVCC apparel</a
                                        > before August 28</label
                                    >
                                </div>
                                <div class="flex gap-x-2 items-baseline">
                                    <input type="checkbox" />
                                    <label
                                        >Donate to the MV XC booster club venmo
                                        account (below)</label
                                    >
                                </div>
                            </p>
                        </div> -->

                        <br />
                        <p class="flex">
                            Nike Cross Nationals (NXN): 2019 (19th), 2018 (17th)
                        </p><br />
                        <p class="flex">
                            Nike Cross Heartland Regional: 2022 (12th), 2021
                            (10th), 2019 (1st), 2018 (1st)
                        </p><br />
                        <p class="flex">
                            MSHSL XC: 2023 (3rd), 2022 (5th), 2021 (3rd), 2019
                            (1st), 2018 (2nd), 2017 (5th), 2016 (4th)
                        </p><br />
                        <p class="flex flex-row">
                            True Team State Champions: 1998, 1999, 2000, 2001,
                            2002, 2003, 2006, 2007
                        </p>
                        <p class="flex flex-row">
                            MSHSL Champions: 1999, 2000, 2001, 2006, 2007
                        </p>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-center content-center m-4 transition ease-in-out pb-4"
                >
                    <Carousel client:idle />
                </div>
            </div>
        </main>
        <footer class="flex w-full bg-white flex-col md:h-10 mb-12 md:mb-0">
            <div class="flex flex-row w-full justify-center items-center h-8">
                <div class="w-4/12 md:w-2/12 flex justify-center">
                    <a
                        class="text-xs md:text-base text-gray-500 hover:text-black font-semibold"
                        href="https://www.venmo.com/u/MVboys-XC"
                        target="_blank"
                        rel="noreferrer">DONATE</a
                    >
                </div>

                <div class="w-4/12 md:w-2/12 flex justify-center">
                    <a href="/"
                        ><img
                            src={Logo}
                            height="40"
                            width="40"
                            alt="MV Logo"
                        /></a
                    >
                </div>

                <div class="w-4/12 md:w-2/12 flex justify-center">
                    <a
                        class="text-xs md:text-base text-gray-500 font-semibold hover:text-black"
                        href="mailto:moundsviewxc@gmail.com"
                        target="_blank"
                        rel="noreferrer">CONTACT US</a
                    >
                </div>
            </div>
            <div
                class="h-fit flex flex-row w-full justify-end text-xs md:text-sm text-gray-500 hover:text-black"
            >
                &#169; Aaron Thompson
            </div>
        </footer>
    </body>
</html>
<Taskbar client:load />
