---
import Navbar from "../components/Navbar/Navbar.astro";
import Taskbar from "../components/Taskbar/Taskbar";
import "../styles/tailwind.css";
import Grant from "../assets/homepage-image-cropped(2).jpg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: Montserrat;
        margin: 0;
      }
    </style>
  </head>
  <body class="flex justify-center w-screen">
    <main class="flex flex-col justify-center grow-1">
      <Navbar />
      <img src={Grant} alt="homepage-background" />
      <div id="background" class="flex-col bg-neutral-700 text-slate-50 pb-16 min-h-screen">
        <div class="flex justify-center my-8">
          <div class="flex flex-col w-full md:w-5/12">
            <iframe
              src="https://calendar.google.com/calendar/embed?src=oj12dtrbscdg8jjunosmqpbtrc%40group.calendar.google.com&ctz=America/Chicago"
              style="border: 0"
              width="100%"
              height="500"></iframe>
            <iframe
              src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTut8Zr9JYOLC3PZDSFfhki-PvWNlab8gxGgAwTD5_NHob3_EH7I4taCqeeM0Ht6w9FokV7B-JJJFQm/pubhtml?gid=0&"
              width="100%"
              class="mt-8"
              height="400"></iframe>
          </div>
        </div>
      </div>
      <Taskbar client:load />
    </main>
  </body>
</html>
